hmtl {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.imageOfTheDay {
  white-space: nowrap;
}

#imageOfTheDay__display--one,
#imageOfTheDay__display--two,
#imageOfTheDay__display--three,
#imageOfTheDay__display--four {
  margin-top: 10%;
  height: 60vh;
  width: 30rem;
}

.imageForm {
  text-align: center; 
  position: absolute;
  top: 3%;
  right: 50%;
  transform: translate(50%);
}

#dateReminder {
  margin-top: 4%;
  text-align: center;
}