hmtl {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.modalStyles {
  height: 900px;
  width: 900px;
}

.camImg {
  margin-top: 26vh;
  height: 34.28rem;
  width: 34.28rem;
}

.camImg:hover {
  cursor: pointer;
  transform: scale(.85);
}

.imageForm {
  text-align: center; 
  position: absolute;
  top: 3%;
  right: 50%;
  transform: translate(50%);
  z-index: 2;
}

#dateReminder {
  margin-top: 4%;
  text-align: center;
}

#button {
  margin-left: 2%;
}

.errorMessage {
  font-size: 5rem;
  text-align: center; 
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translate(50%);
  z-index: -1;
}